@using System.Globalization;
@using Microsoft.AspNetCore.Http.Extensions;

@model ProductListingVM

@{
    var pageLocation = Context.Request.GetDisplayUrl();
}

<section class="">
    <header class="paging">
        <span class="paging__count">@Model.TotalItemsFound Book(s) Found</span>
        <span class="paging__pageIndex">
            <input class="paging__pageIndex-input" type="text" name="page" value="@Model.CurrentPage" />
            of @Model.TotalPages
        </span>
        <span class="paging__sort">Sort <i class="fas fa-chevron-down"></i></span>
    </header>
    <div class="product-list__content">
        <section class="left-panel">
            <div class="accordion">
                <input id="panel-1" class="accordion__check" type="checkbox" hidden />
                <label for="panel-1" class="accordion__trigger">
                    <span class="accordion__title">Categories</span>
                    <i class="fas fa-chevron-down icon"></i>
                </label>
                <div class="accordion__content">
                    <label class="filter-option">
                        @if (Model.Categories.Any(c => c.IsSelected))
                        {
                            <input type="checkbox" name="c" />
                        }
                        else
                        {
                            <input type="checkbox" checked disabled name="c" />
                        }
                        <span>All</span>
                    </label>
                    @foreach (var category in Model.Categories)
                    {
                        <label class="filter-option">
                            <input checked="@category.IsSelected" type="checkbox" name="c" value="@category.Id" />
                            <span>@category.Name</span>
                        </label>
                    }
                    <div class="show-more" data-hidden-display="Show Less" data-full-height="0">Show More</div>
                </div>
            </div>
            <div class="accordion">
                <input id="panel-2" class="accordion__check" type="checkbox" hidden />
                <label for="panel-2" class="accordion__trigger">
                    <span class="accordion__title">Authors</span>
                    <i class="fas fa-chevron-down icon"></i>
                </label>
                <div class="accordion__content">
                    <label class="filter-option">
                        @if (Model.Authors.Any(a => a.IsSelected))
                        {
                            <input type="checkbox" name="a" />
                        }
                        else
                        {
                            <input type="checkbox" checked disabled name="a" />
                        }
                        <span>All</span>
                    </label>
                    @foreach (var author in Model.Authors)
                    {
                        <label class="filter-option">
                            <input checked="@author.IsSelected" type="checkbox" name="a" value="@author.Id" />
                            <span>@author.Name</span>
                        </label>
                    }
                    <div class="show-more" data-hidden-display="Show Less" data-full-height="0">Show More</div>
                </div>
            </div>
            <div class="accordion">
                <input id="panel-3" class="accordion__check" type="checkbox" hidden />
                <label for="panel-3" class="accordion__trigger">
                    <span class="accordion__title">Publishers</span>
                    <i class="fas fa-chevron-down icon"></i>
                </label>
                <div class="accordion__content">
                    <label class="filter-option">
                        @if (Model.Publishers.Any(p => p.IsSelected))
                        {
                            <input type="checkbox" name="p" />
                        }
                        else
                        {
                            <input type="checkbox" checked disabled name="p" />
                        }
                        <span>All</span>
                    </label>
                    @foreach (var publisher in Model.Publishers)
                    {
                        <label class="filter-option">
                            <input checked="@publisher.IsSelected" type="checkbox" name="p" value="@publisher.Id" />
                            <span>@publisher.Name</span>
                        </label>
                    }
                    <div class="show-more" data-hidden-display="Show Less" data-full-height="0">Show More</div>
                </div>
            </div>
            <input type="submit" hidden />
            <button type="button" class="btn btn--flat apply-filters">Apply Filters</button>
            <button type="button" class="btn btn--flat-danger reset-filters">Reset Filters</button>
        </section>
        <section class="right-panel">
            <div class="product-list__main">
                @foreach (var book in Model.BookItems)
                {
                    <div class="product">
                        <div class="product__img">
                            <img src="@book.ImageUrl" alt="Alternate Text" />
                        </div>
                        <div class="product__icons">
                            <div class="product__ratings" title="@(book.AverageRating == null ? "Not Rated" : book.AverageRating.ToString()+"/5")">
                                <div class="star star-1"></div>
                                <div class="star star-2"></div>
                                <div class="star star-3"></div>
                                <div class="star star-4"></div>
                                <div class="star star-5"></div>
                            </div>
                            <div class="product__favorite">
                                @if (book.IsFavorite)
                                {
                                    <i class="fas fa-heart"></i>
                                }
                                else
                                {
                                    <i class="far fa-heart"></i>
                                }
                            </div>

                        </div>

                        <div class="product__info">
                            @{
                                var authorNames = book.Authors.Select(a => a.Name);
                                string bookAuthors = string.Join(", ", authorNames);
                                bookAuthors = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bookAuthors);
                            }
                            <h3 class="product__title" title="@book.Title">@book.Title</h3>
                            <h5 class="product__author" title="@bookAuthors">@bookAuthors</h5>
                        </div>
                        <div class="product__pricing">
                            <span class="product__price">@book.Price.ToString("C")</span>
                            <a asp-action="Product" asp-controller="Products" asp-route-bookId="@book.Id" asp-route-returnUrl="@pageLocation" class="btn btn--secondary">Select</a>
                        </div>
                    </div>
                }
            </div>
            <footer class="product-list__footer">
                @{
                    int prevPage = (Model.CurrentPage - 1);

                    int prevPageNumber = prevPage > Model.TotalPages ? Model.TotalPages : prevPage;
                    int nextPageNumber = Model.CurrentPage + 1;
                }
                @if (Model.HasPrevPage)
                {
                    <a class="btn btn--secondary"
                       asp-route-page="@prevPageNumber"
                       asp-route-c="@ViewBag.Categories"
                       asp-route-a="@ViewBag.Authors"
                       asp-route-p="@ViewBag.Publishers">Prev</a>
                }
                else
                {
                    <a class="btn btn--disabled">Prev</a>
                }

                @if (Model.HasNextPage)
                {
                    <a class="btn btn--secondary"
                       asp-route-page="@nextPageNumber"
                       asp-route-c="@ViewBag.Categories"
                       asp-route-a="@ViewBag.Authors"
                       asp-route-p="@ViewBag.Publishers">Next</a>
                }
                else
                {
                    <a class="btn btn--disabled">Next</a>
                }
            </footer>
        </section>
    </div>

</section>

